@import '~antd/dist/antd.less';

#root {
  height: 100%;
}

.ant-layout.ant-layout-has-sider {
  height: 100%;
}

.ant-menu-inline-collapsed > .ant-menu-item,
.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  left: 0 !important;
  padding: 0px 20px !important;
  text-overflow: ellipsis !important;
}

/* flex */
.flex {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexRowRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* margin */
.mgt10 {
  margin-top: 10px;
}

.mgt20 {
  margin-top: 20px;
}

.mgl10 {
  margin-left: 10px;
}

.mgl20 {
  margin-left: 20px;
}

.mgr10 {
  margin-right: 10px;
}

.mgr20 {
  margin-right: 20px;
}

/* padding */
.pdt10 {
  padding-top: 10px;
}

.pdt20 {
  padding-top: 20px;
}
